bottle==0.12.25
bottle-healthcheck==0.2.1
cssselect==1.2.0
beautifulsoup4==4.12.2
pymongo==4.5.0
packtrack==1.6
xmltodict
flake8
celery[mongodb]>=5.2,<6.0
PyYAML==6.0.1
requests==2.31.0
raven==6.10.0
newrelic
unicode_slugify==0.1.5
